<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

 <ion-content padding>
  <ion-list *ngIf="usuario?.uid">
    <ion-item *ngFor="let msg of mensagens | async">
      <h1>Usuario: {{msg.usuario}}</h1>
      <p><b>Mensagem: </b>{{msg.mensagem}}</p>
    </ion-item>
  </ion-list>


</ion-content>
  <ion-footer *ngIf="usuario?.uid">
    <ion-item>
      <ion-label color="primary" fixed>Mensagem: </ion-label>
      <ion-input type="text" placeholder="Digite sua Mensagem" [(ngModel)]="mensagem" (keyup.enter)="enviarMensagem($event.target.value)"></ion-input>
    </ion-item>
  </ion-footer>  -->