.divider {
    display: flex;
  
    &:before,
    &:after {
      content: "";
      flex: 1;
    }
  }
  
  .line {
    align-items: center;
    margin: 1em -1em;
    color: #cccccc;
  
    &:before,
    &:after {
      height: 1px;
      margin: 0 1em;
    }
  } 
  
  .one-line {
    &:before,
    &:after {
       background: #cccccc;
    }
  }

  .title {
    display: block;
    text-align: left;
    padding: 10px;
    margin-top: 10px;
    font-size: 12px;
    color: red;
  }
  
ion-card{
    background-color: #eee720;
}

ion-card-title{
    font-size: 20px;
}