<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-card-header>
    <ion-card-title>Atenção</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Confira se os dados estão totalmente correto antes de confirmar
  </ion-card-content>
</ion-card>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating"><ion-icon name="mail-outline"></ion-icon>   E-mail</ion-label>
      <ion-input autocomplete="off" type="text" name="username" [(ngModel)]="postData.username"></ion-input>
    </ion-item>

    <span class="title">*Confira se o capstalock está ativado antes de digitar</span>

    <ion-item lines="full">
      <ion-label position="floating"><ion-icon name="lock-closed-outline"></ion-icon>  Senha</ion-label>
      <ion-input autocomplete="off" type="password" name="password" [(ngModel)]="postData.password"></ion-input>
    </ion-item>
    <re-captcha
(resolved)="resolved($event)"
siteKey="6Lc3ycoZAAAAAJkatV4oI83Xx2pFlorExhTeZ00N"
></re-captcha>
    <ion-row>
      <ion-col>
        <ion-button  expand="block" share="round" color="success" (click)="loginAction()">Login</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>





