

ion-icon {
    font-size: 35px;
    text-align: right; 
    margin-right: 10px; 
  }

.icons{
    text-align: right;
    margin-right: 10px;
}

ion-item{
    --inner-border-width:0px;
}

.ion2{
    padding: 0px 10px 0px 10px;
}

.ion1{
    padding: 0px 0px 0px 10px;
    padding-top: 10px;
}


a{
    color: white;
    text-decoration: none;
}

.textgrid1{
    margin: 20px; 
    padding-bottom: 30px; 
    padding-top: 30px;
    font-size: 25px;
}

.textgrid2{
    padding-top: 50px;
    padding-bottom: 50px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 30px;
    text-align: center;
}

.linha{
    outline: 1px solid #000;
}

.card0{
    padding-top: 30px;
    background-color: #eee720;
}


