

ion-icon {
    font-size: 35px;
    text-align: right; 
    margin-right: 10px; 
  }

.icons{
    text-align: right;
    margin-right: 10px;
}

ion-item{
    --inner-border-width:0px;
}

ion-item {
    --ion-background-color: #d8d6d6 !important;
}

.user-jpg{
    width: 400px;
    outline: 1px solid #000;
}

.ion2{
    padding: 0px 10px 0px 10px;
}

.ion1{
    padding: 0px 0px 0px 10px;
    padding-top: 10px;
}

.user-card-style{
    outline: 1px solid #000;
    background-color: #d8d6d6;
}


a{
    color: white;
    text-decoration: none;
}

.textgrid1{
    margin: 20px; 
    padding-bottom: 30px; 
    padding-top: 30px;
    font-size: 25px;
}

.textgrid2{
    padding-top: 50px;
    padding-bottom: 50px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 30px;
    text-align: center;
}

.linha{
    outline: 1px solid #000;
}

.card0{
    padding-top: 30px;
    background-color: #28c3ff;
}

.ion-color-danger{
    background: #ebb444 !important;
}
