<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Novidades</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content  [fullscreen]='true'>
  <div *ngFor="let product of products" >
  <ion-card class="card0">
    <ion-card-content>
      <ion-item>
        <ion-thumbnail slot="start">
          <img class="jpg-product"  src="{{images}}{{product.image}}" alt="Imagem {{product.name}}" >
        </ion-thumbnail>
        <ion-label>
          <h3>{{product.name}}</h3>
          <p><small>{{product.categoryName}}</small></p>
          <p><small>{{product.brand}}</small></p>
          <p><small>{{product.model}}</small></p>
        </ion-label>
      </ion-item> 
    </ion-card-content>
  </ion-card>
</div>
</ion-content>