.jpg-product{
    width: 100px;
    height: 60px;
}

ion-item{
    --inner-border-width:0px;
}


.card0{
    background-color: #ff2886;
}

ion-item {
    --ion-background-color: rgb(255, 249, 66) !important;
}