<ion-app>
 <img src="../../assets/logotipo.png">
 
 <span class="title">Bem Vindo(a) ao nosso aplicativo</span>

<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['../login']" expand="block" color="dark">Fazer Login com e-mail</ion-button>

        <span class="divider line one-line">ou</span>
       
        <ion-button [routerLink]="['#']" expand="block" color="danger">Login com Google</ion-button>
        <ion-button [routerLink]="['#']" expand="block" color="primary">Login com Facebook</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title style="text-align-last: center;" >Banner aqui</ion-title>
  </ion-toolbar>
</ion-footer>
</ion-app>